.sidebar-nav ul .sidebar-item .sidebar-link {
    background-color: white !important;
}

.sidebar-nav ul .sidebar-item.selected>.sidebar-link, .sidebar-nav ul .sidebar-item.selected>.sidebar-link.active, .sidebar-nav ul .sidebar-item>.sidebar-link.active {
    background-color: red !important;
}

.sidebar-nav ul .sidebar-item.selected>.sidebar-link {
    background-color: white !important;
    color: black;
}
.p-tag {
    padding: 5px 20px;
    margin-right: 15px ;
}

.card-hotel_info_name {
    display: block;
}

span {
    font-weight: normal;
    font-size: 13px;
}

.minhnhutActive {
    background-color: red;
}
